<NavBar />
nav
<Jumbo>
    <h2>About Super Rentals</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quos quisquam? Illo similique repellat error eaque quo. Et eius, harum ut, quod nesciunt odio sed, optio nisi id laudantium dolor?</p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>