<Jumbo>
    <h2>Contact Us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil laudantium velit sed quo aut in corrupti, nulla odio dolore temporibus voluptatum libero quas enim magnam magni accusamus id expedita reprehenderit!</p>
    <address>Super Rentals HQ
        <p>1212 Test address<br/>Testington, OR 98765</p>
        <a href="tel:726.2323.2323">86876699</a>
        <a href="mailto:superrentals@emberjs.com">superrentals@emberjs.com</a>
    </address>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>