<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>lorem</p>
    <address>Super Rentals HQ
        <p>1212 Test address<br/>Testington, OR 98765</p>
        <a href="tel:726.2323.2323">86876699</a>
        <a href="mailto:superrentals@emberjs.com">superrentals@emberjs.com</a>
    </address>
</div>